h1 {
    text-align:center ;
}
h4{
    color:aquamarine;
}
p{
color:aqua ;
}

.divfooter{
    p{
color: red;
    }
}
.botonjs{
    background-color: blueviolet;
    color : black;
    padding: 10px 20px;
    border :none;
    cursor: pointer;
}