h1 {
    text-align:center ;
}
h4{
    color:aquamarine;
}
p{
color:aqua ;
}

.divfooter{
    p{
color: red;
    }
}
.botonjs{
    background-color: blueviolet;
    color : black;
    padding: 10px 20px;
    border :none;
    cursor: pointer;
}
#respuesta{
    display: none;
    border: 1px solid green;
    padding:10px;
    margin:10px;
    font-family:10px;
}